.home-page-container {
  height: 100vh;
  background-color: var(--neutral-white);
}

.home-page-header {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sheets-section {
  
}