.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.spinner-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-spinner-wrapper {
  position: absolute;
}