body {
  /* App Color Palette */
  background-color: var(--neutral-white);
  
  /* --primary: #E54B4B; */
  --primary: #4B6CE5;
  /* --secondary: #FF9585; */
  --secondary: #85AAFF;

  --white: #FFFFFF;
  --neutral-white: #F5F5F5;
  --darker-white: #EBEBEB;

  --neutral-gray: #777777;

  --brighter-black: #4C4C47;
  --neutral-black: #2D2D2A;
  --black: #000000;

  --neutral-success: #5C946E;
  --neutral-warning: #F8C630;

  --transparent-primary: #4B6CE560;

  margin: 0;
  font-family: "Rubik", "Roboto", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TITLES & TEXTS */

.title {
  font-size: 20px;
  font-weight: 500;
  color: var(--brighter-black);
  margin: 0px 0px 5px 0px;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--brighter-black);
  margin: 0px 0px 5px 0px;
}

.text {
  font-size: 14px;
  font-weight: 300;
  color: var(--brighter-black);
  margin: 0px;
}

.s-bold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.no-m {
  margin: 0px;
}

.primary-text {
  color: var(--primary);
}

.flex-text-wrapper {
  display: flex;
  align-items: center;
}

.flex-text-wrapper div {
  margin-right: 4px;
}

/* COMPONENTS */

.basic-card {
  background-color: var(--white);
  padding: 18px 15px;
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(100, 100, 100, 0.1);
}

.basic-page-template {
  margin: 0 auto;
  padding-top: 25px;
  width: 90%;
}

.form-page-template {
  margin: 0 auto;
  padding-top: 0px;
  width: 90%;
  background-color: var(--neutral-white);
}

.medium-page-template {
  margin: 0 auto;
  padding-top: 0px;
  width: 90%;
  background-color: var(--neutral-white);
}

@media screen and (min-width: 600px) {
  .basic-page-template {
    padding-top: 40px;
    width: 80%;
  }

  .form-page-template {
    margin: 0px auto;
    padding: 30px 25px;
    width: 400px;

    border: 1px solid var(--darker-white);
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(100, 100, 100, 0.1);
  }
}

@media screen and (min-width: 700px) {
  .medium-page-template {
    margin: 0px auto;
    padding: 30px 25px;
    width: 600px;

    border: 1px solid var(--darker-white);
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(100, 100, 100, 0.1);
  }
}

/* FORMS */
.MuiFilledInput-root {
  background-color: #85AAFF30 !important;
}

.basic-input-spacing {
  margin-top: 15px !important;
}
 
.radio-input-spacing {
  margin-top: 20px !important;
}

.top-radio-spacing { 
  margin-top: 8px !important;
}

.submit-button {
  width: 100% !important;
}

/* 
  MATERIAL UI BREAKPOINTS
  xs, extra-small: 0px
  sm, small: 600px
  md, medium: 900px
  lg, large: 1200px
  xl, extra-large: 1536px 
*/